# .github/workflows/ci.yml

name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  # Don't overwhelm the small Earthly satellite with concurrent builds
  group: earthly-satellite

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: 1
      EARTHLY_TOKEN: ${{ secrets.EARTHLY_TOKEN }}
    steps:
      - name: Install Earthly
        uses: earthly/actions-setup@v1
        with:
          version: latest
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v5

      - name: Run build
        run: earthly --org ofalvai --sat homecooked --ci +build-all
